In [1]:
import pandas as pd
import numpy as np
from os import listdir

pd.set_option('display.max_columns', 500)
pd.options.display.float_format = '{:.2f}'.format

data_folder = 'd:\\publicidade_oficial\\data\\'
clean_folder = 'd:\\publicidade_oficial\\clean_data\\'

In [2]:
files = listdir(data_folder)
print(files)

['candidato_2008.pickle', 'candidato_2012.pickle', 'candidato_2016.pickle', 'finbra_2013.pickle', 'finbra_2014.pickle', 'finbra_2015.pickle', 'finbra_2016.pickle', 'finbra_2017.pickle', 'finbra_2018.pickle', 'idhm.pickle', 'pop2016.pickle', 'prestacao_2012.pickle', 'prestacao_2016.pickle', 'resultado_2012.pickle', 'resultado_2016.pickle', 'tce_es_2013.pickle', 'tce_es_2014.pickle', 'tce_es_2015.pickle', 'tce_es_2016.pickle', 'tce_es_2017.pickle', 'tce_es_2018.pickle', 'tce_es_2019.pickle', 'tce_pe_2013.pickle', 'tce_pe_2014.pickle', 'tce_pe_2015.pickle', 'tce_pe_2016.pickle', 'tce_pe_2017.pickle', 'tce_pe_2018.pickle', 'tce_pr_2013.pickle', 'tce_pr_2014.pickle', 'tce_pr_2015.pickle', 'tce_pr_2016.pickle', 'tce_pr_2017.pickle', 'tce_pr_2018.pickle', 'tce_rs_2013.pickle', 'tce_rs_2014.pickle', 'tce_rs_2015.pickle', 'tce_rs_2016.pickle', 'tce_rs_2017.pickle', 'tce_rs_2018.pickle', 'tce_sp_2013.pickle', 'tce_sp_2014.pickle', 'tce_sp_2015.pickle', 'tce_sp_2016.pickle', 'tce_sp_2017.pickle', 'tce_sp_2018.pickle']

In [3]:
finbra = pd.DataFrame([])
for year in range(2013,2019):
    finbra_temp = pd.read_pickle(data_folder + 'finbra_'+str(year)+'.pickle')
    finbra = finbra.append(finbra_temp)
finbra = finbra[(finbra['Conta'] == '04.131 - Comunicação Social') & (finbra['Coluna'] == 'Despesas Empenhadas')]
finbra.to_pickle(clean_folder+'finbra.pickle')
finbra.head()

,Instituição,Cod.IBGE,UF,População,Coluna,Conta,Valor,ano
674,SÃO LEOPOLDO-RS,4318705,RS,225520,Despesas Empenhadas,04.131 - Comunicação Social,176863.60,2013
1279,BELMONTE-BA,2903409,BA,23471,Despesas Empenhadas,04.131 - Comunicação Social,9190.00,2013
2224,COTIPORÃ-RS,4305959,RS,4019,Despesas Empenhadas,04.131 - Comunicação Social,10480.00,2013
3519,VENÂNCIO AIRES-RS,4322608,RS,69154,Despesas Empenhadas,04.131 - Comunicação Social,442098.34,2013
4048,DAVID CANABARRO-RS,4306304,RS,4834,Despesas Empenhadas,04.131 - Comunicação Social,56817.34,2013

In [4]:
idhm = pd.read_pickle(data_folder+'idhm.pickle')

In [5]:
idhm.head()

,cod_ibge_dv,municipio,gini,pop2010,pop_rural,pop_urbana,mortalidade_infantil,pop_maior_18,idhm2010,idhm_renda,idhm_long,idhm_educ,pop_16_18,fundamental_maior_18,renda_per_capita,renda_per_capita_nao_nula,pobres,vulneraveis
1,5200050,Abadia de Goiás,0.42,6876,1795.00,5081,13.40,4751,0.71,0.69,0.83,0.62,385,48.86,574.96,576.02,6.18,23.27
2,3100104,Abadia dos Dourados,0.47,6704,2515.00,4189,14.80,5046,0.69,0.69,0.84,0.56,318,39.36,596.18,601.18,7.94,27.40
3,5200100,Abadiânia,0.43,15757,4979.00,10778,12.60,11076,0.69,0.67,0.84,0.58,832,43.27,519.87,523.18,8.45,31.19
4,3100203,Abaeté,0.54,22690,2986.00,19704,14.00,16733,0.70,0.72,0.85,0.56,1104,36.32,707.24,707.44,6.69,26.65
5,1500107,Abaetetuba,0.53,141100,58102.00,82998,19.00,87585,0.63,0.58,0.80,0.54,10122,43.24,293.01,297.38,38.95,65.93

In [6]:
finbra.columns=['mun_uf','cod_ibge_dv','uf','pop_finbra','coluna','conta','publicidade','ano']

In [7]:
finbra.head()

,mun_uf,cod_ibge_dv,uf,pop_finbra,coluna,conta,publicidade,ano
674,SÃO LEOPOLDO-RS,4318705,RS,225520,Despesas Empenhadas,04.131 - Comunicação Social,176863.60,2013
1279,BELMONTE-BA,2903409,BA,23471,Despesas Empenhadas,04.131 - Comunicação Social,9190.00,2013
2224,COTIPORÃ-RS,4305959,RS,4019,Despesas Empenhadas,04.131 - Comunicação Social,10480.00,2013
3519,VENÂNCIO AIRES-RS,4322608,RS,69154,Despesas Empenhadas,04.131 - Comunicação Social,442098.34,2013
4048,DAVID CANABARRO-RS,4306304,RS,4834,Despesas Empenhadas,04.131 - Comunicação Social,56817.34,2013

In [8]:
finbra_wide = finbra.pivot_table(index=['cod_ibge_dv','mun_uf','uf'], columns='ano', values='publicidade').reset_index()

In [9]:
finbra_wide.columns = ['cod_ibge_dv','mun_uf','uf','pub_finbra_2013','pub_finbra_2014','pub_finbra_2015','pub_finbra_2016','pub_finbra_2017','pub_finbra_2018']
finbra_wide.head()

,cod_ibge_dv,mun_uf,uf,pub_finbra_2013,pub_finbra_2014,pub_finbra_2015,pub_finbra_2016,pub_finbra_2017,pub_finbra_2018
0,1100023,ARIQUEMES-RO,RO,nan,nan,431626.93,129269.20,nan,9008.57
1,1100205,PORTO VELHO-RO,RO,nan,nan,nan,1904398.23,5189988.64,nan
2,1100320,SÃO MIGUEL DO GUAPORÉ-RO,RO,nan,nan,nan,nan,nan,560.00
3,1200179,CAPIXABA-AC,AC,nan,nan,nan,nan,nan,20865.00
4,1200203,CRUZEIRO DO SUL-AC,AC,296894.60,277372.19,249416.80,270710.00,235202.30,nan

In [10]:
finbra_idhm = pd.merge(finbra_wide,idhm, on='cod_ibge_dv', how='outer',suffixes=('a','b')).sort_values('cod_ibge_dv')

In [11]:
finbra_idhm[finbra_idhm['pop2010'] > 1000000]

,cod_ibge_dv,mun_uf,uf,pub_finbra_2013,pub_finbra_2014,pub_finbra_2015,pub_finbra_2016,pub_finbra_2017,pub_finbra_2018,municipio,gini,pop2010,pop_rural,pop_urbana,mortalidade_infantil,pop_maior_18,idhm2010,idhm_renda,idhm_long,idhm_educ,pop_16_18,fundamental_maior_18,renda_per_capita,renda_per_capita_nao_nula,pobres,vulneraveis
10,1302603,MANAUS-AM,AM,40676129.72,68158844.05,83072618.35,53606380.97,85352443.72,90727708.03,Manaus,0.61,1802014.00,9133.00,1792881.00,14.24,1181978.00,0.74,0.74,0.83,0.66,106588.00,67.93,790.27,792.86,12.90,33.50
25,1501402,BELÉM-PA,PA,11471943.74,nan,nan,nan,nan,nan,Belém,0.61,1393399.00,11924.00,1381475.00,16.06,992891.00,0.75,0.75,0.82,0.67,76555.00,69.19,853.82,856.28,13.04,33.26
144,2111300,SÃO LUÍS-MA,MA,15225692.07,25074953.18,15374678.43,2785039.43,19640622.54,nan,São Luís,0.61,1014837.00,56315.00,958522.00,18.10,716183.00,0.77,0.74,0.81,0.75,58471.00,73.45,805.36,811.56,13.81,35.27
2874,2304400,NaN,NaN,nan,nan,nan,nan,nan,nan,Fortaleza,0.61,2452185.00,nan,2452185.00,15.76,1762036.00,0.75,0.75,0.82,0.69,136540.00,65.83,846.36,847.35,12.14,32.88
455,2611606,RECIFE-PE,PE,2208411.37,31185237.48,43261563.05,26433536.84,31924962.14,64976703.99,Recife,0.68,1537704.00,nan,1537704.00,15.56,1139613.00,0.77,0.80,0.82,0.70,75194.00,66.35,1144.26,1145.56,13.20,32.91
638,2927408,SALVADOR-BA,BA,589904.25,366226.40,129384.00,nan,nan,nan,Salvador,0.63,2675656.00,733.00,2674923.00,14.92,1992945.00,0.76,0.77,0.83,0.68,130991.00,69.72,973.00,973.97,11.35,30.24
690,3106200,BELO HORIZONTE-MG,MG,40296606.67,41919201.32,36088691.86,26892082.71,45341402.51,47037260.62,Belo Horizonte,0.60,2375151.00,nan,2375151.00,12.95,1815703.00,0.81,0.84,0.86,0.74,107820.00,70.15,1497.29,1497.46,3.80,13.89
951,3304557,RIO DE JANEIRO-RJ,RJ,81051702.86,91930000.00,133680360.89,69780407.30,58104060.52,42014345.61,Rio de Janeiro,0.62,6320446.00,nan,6320446.00,13.02,4812491.00,0.80,0.84,0.84,0.72,275422.00,72.19,1492.63,1493.25,5.01,16.41
986,3509502,CAMPINAS-SP,SP,10007419.53,25406889.42,29206403.96,14376719.65,18207015.20,17283444.17,Campinas,0.56,1080113.00,18573.00,1061540.00,11.81,823500.00,0.81,0.83,0.86,0.73,48202.00,67.71,1390.83,1391.53,3.16,11.39
1009,3518800,GUARULHOS-SP,SP,6328109.19,19357470.86,750191.68,4412220.49,787176.48,nan,Guarulhos,0.51,1221979.00,nan,1221979.00,13.34,858748.00,0.76,0.75,0.83,0.72,61689.00,63.85,829.91,830.29,6.50,20.63
1076,3550308,SÃO PAULO-SP,SP,6374213.84,113576319.72,6000000.00,5992267.78,3317374.61,3402926.72,São Paulo,0.62,11253503.00,101159.00,11152344.00,13.15,8407202.00,0.81,0.84,0.85,0.72,498886.00,67.68,1516.21,1517.04,4.27,14.69
1131,4106902,CURITIBA-PR,PR,10738515.56,11201101.94,19022662.90,46500.00,10467879.51,18042000.00,Curitiba,0.55,1751907.00,nan,1751907.00,11.91,1319777.00,0.82,0.85,0.85,0.77,82326.00,73.96,1581.04,1581.33,1.73,7.86
1367,4314902,PORTO ALEGRE-RS,RS,nan,12443759.50,12907433.53,4099494.76,1962091.99,3980241.22,Porto Alegre,0.60,1409351.00,nan,1409351.00,11.60,1083537.00,0.81,0.87,0.86,0.70,60414.00,74.78,1758.27,1758.86,3.82,12.51
1538,5208707,GOIÂNIA-GO,GO,14969896.38,10072058.76,10750938.60,5174835.66,17214405.66,11245032.92,Goiânia,0.58,1302001.00,4925.00,1297076.00,13.11,966427.00,0.80,0.82,0.84,0.74,66389.00,71.44,1348.55,1348.70,3.09,12.70
2109,5300108,NaN,NaN,nan,nan,nan,nan,nan,nan,Brasília,0.63,2570160.00,87950.00,2482210.00,14.01,1829600.00,0.82,0.86,0.87,0.74,130855.00,72.32,1715.11,1716.52,4.93,16.00